streamlit==1.43.2
rich==13.9.4
python-dotenv>=1.0.0
streamlit-oauth==0.1.14
sqlalchemy==2.0.39
psycopg==3.2.6
psycopg2-binary==2.9.10
langchain==0.3.20
langchain-community==0.3.19
langchain-ollama==0.2.3
langchain-openai==0.3.8
langgraph==0.3.11
langsmith==0.3.15
pydantic==2.10.6
ollama==0.4.7
ipython==9.0.2
plotly==6.0.1
scipy==1.15.2
matplotlib==3.10.1
seaborn==0.13.2
networkx==3.4.2
