streamlit
rich
python-dotenv>=1.0.0
streamlit-oauth
sqlalchemy
psycopg
psycopg2-binary
langchain-community
langchain-openai
langchain
langgraph
pydantic
ollama
langchain-ollama
IPython
plotly
scipy
matplotlib
seaborn
networkx
